* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #1a1a1d;
  height: 800px;
}
a {
  text-decoration: none;
  color: #6a1e55;
  font-size: 30px;
}
.header {
      background-color: #1a1a1d;
      position: sticky;
      top: 0;
  display: flex;
  justify-content: space-between;
  padding: 2rem 9%;
  align-items: center;

  color: #1a1a1d;
  /* background: -webkit-linear-gradient(180deg, #219ebc 0%, #023047 37%);
  background: -o-linear-gradient(180deg, #219ebc 0%, #023047 37%);
  background: -moz-linear-gradient(180deg, #219ebc 0%, #023047 37%);
  background: linear-gradient(180deg, #219ebc 0%, #023047 37%); */
  /* z-index: 1;
  position: sticky;
  top: 0px; */
  margin-bottom: 10px;
}
.nav__list {
  margin-left: 4rem;
  font-weight: 600;
  transition: 0.1s;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-bottom: #1a1a1d 4px solid;
}
.nav__list:hover {
  border-bottom: 4px solid #a64d79;
  color: #a64d79;
}
.active {
  border-bottom: #a64d79 4px solid;
  color: #a64d79;
}
.logo {
  padding: 10px 30px;
  color: #6a1e55;
  transition: 0.2s linear;
  font-weight: 600;
  font-size: 25px;
}

.about__contact {
  margin-bottom: 40px;
  color: white;
  text-shadow: 0px 0px 30px #a64d79, 0px 0px 30px #a64d79;
  text-align: center;
  padding: 10px;
  font-size: 60px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input {
  border: none;
  color: white;
  background-color: #1a1a1d;
  width: 30%;
  font-size: 30px;
  padding: 16px 16px;
  border-radius: 10px;
  border-color: #1a1a1d;
  margin-bottom: 40px;
  -webkit-box-shadow: 0px 0px 6px 10px #a64d79 inset;
  -moz-box-shadow: 0px 0px 6px 10px #a64d79 inset;
  box-shadow: 0px 0px 6px 10px #a64d79 inset;
  transition: 0.8s;
}
input[type="text"]::placeholder {
  color: #c5c3c3;
  opacity: 1;
  font-size: 20px;
  padding-left: 30px;
}

input[type="email"]::placeholder {
  color: #c5c3c3;
  opacity: 1;
  font-size: 20px;
  padding-left: 30px;
}
input[type="email"] {
  width: 28%;
}
input:hover {
  transform: scale(1.11);
}
textarea {
  background-color: #1a1a1d;
  -webkit-box-shadow: 0px 0px 6px 10px #a64d79 inset;
  -moz-box-shadow: 0px 0px 6px 10px #a64d79 inset;
  box-shadow: 0px 0px 6px 10px #a64d79 inset;
  width: 24%;
  font-size: 20px;
  padding: 16px 10px;
  padding-left: 40px;
  border-radius: 10px;
  border: none;
  color: #c5c3c3;
  opacity: 1;
  font-size: 25px;
  margin-bottom: 50px;
  transition: 0.8s;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
textarea:hover {
  transform: scale(1.1);
}
input:focus-within {
  outline: none;
  /* border-color: #a64d79; */
  /* border-width:3px ; */
  font-size: 20px;
}
textarea:focus-within {
  outline: none;
  color: white;
  font-size: 20px;
  border-color: #a64d79;
  /* border-width:3px ;    */
}
button {
  all: unset;
  margin-top: 20px;
  border: #6a1e55 3px solid;
  border-radius: 50px;
  padding: 1rem 2.8rem;
  color: #6a1e55;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  font-family: Impact "Times New Roman", Times, serif;
  transition: 0.2s linear;
}
button:hover {
  box-shadow: 0 0 20px 0px #6a1e55;
  background-color: #6a1e55;
  color: #1a1a1d;
}

@media (max-width: 1000px) {
  .main__2 {
    gap: 50px;
  }
  .main__2 {
    /* padding: 0px 50px; */
    margin-left: 0px;
  }
  .about__main {
    margin-left: 10px;
  }
}
@media (max-width: 995px) {
  .main__2 {
    flex-direction: column;
    padding: 0px;
    margin-bottom: 0px;
  }
  .about__contact {
    font-size: 30px;
  }
  .input {
    width: 300px;
  }
  input[type="email"] {
    width: 300px;
  }
  textarea {
    width: 280px;
  }
  button {
    font-size: 15px;
  }
  .main__2 .about__main h3 {
    font-size: 1.5rem;
  }

  .about__main h1 {
    font-size: 2rem;
    /* margin-left: 10px; */
  }
  .p3 {
    font-size: 14px;
  }
  .img {
    width: 80%;
    position: relative;
    top: 20px;
    left: 5%;
    margin-bottom: 20px;
    background-color: #1a1a1d;
    box-shadow: none;
  }

  .header {
    display: flex;
    flex-direction: column;
  }
  .nav {
    margin-top: 10px;
  }

  .nav__list {
    margin-left: 10px;
    font-size: 15px;
  }
  .project__crad {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 375px) {
  .nav {
    font-size: 10px;
    margin-top: 10px;
  }
}
@media (max-width: 344px) {
  .nav {
    font-size: 13px;
    margin-top: 10px;
  }
}
@media (max-width: 500px) {
  .nav {
    margin-top: 10px;
    font-size: 10px;
  }
  .img {
    margin-bottom: 20px;
  }
}


