* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #1a1a1d;
}
.header {
  background-color: #1a1a1d;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 2rem 9%;
  align-items: center;

  color: #1a1a1d;
  /* background: -webkit-linear-gradient(180deg, #219ebc 0%, #023047 37%);
  background: -o-linear-gradient(180deg, #219ebc 0%, #023047 37%);
  background: -moz-linear-gradient(180deg, #219ebc 0%, #023047 37%);
  background: linear-gradient(180deg, #219ebc 0%, #023047 37%); */
  /* z-index: 1;
  position: sticky;
  top: 0px; */
  margin-bottom: 10px;
}
/* .main {
} */
.nav__list {
  margin-left: 4rem;
  font-weight: 600;
  transition: 0.1s;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-bottom: #1a1a1d 4px solid;
}
.nav__list:hover {
  border-bottom: 4px solid #a64d79;
  color: #a64d79;
}

a {
  text-decoration: none;
  color: #6a1e55;
  font-size: 20px;
}
.main {
  padding: 40px;
}


.active{
  border-bottom: #a64d79 4px solid;
  color: #a64d79;
}

.logo {
  color: #6a1e55;
  transition: 0.2s linear;
  font-weight: 600;
  font-size: 25px;
  background-image: linear-gradient(to right, #6a1e55, #a64d79);
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  animation: logo 60s linear infinite;
}
@keyframes logo {
  to {
    background-position: 4500px;
  }
}
.logo:hover {
  transform: scale(1.1);
  color: #a64d79;
}
.about__main {
  color: #6a1e55;
  padding: 60px 0px;
  font-family: arial black;
  font-size: 40px;
  background-image: linear-gradient(to right, #6a1e55, #a64d79);
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  animation: rainbow-animation 12s linear infinite;
}
.img__card {
  width: 100%;
  max-width: 400px;
  border-radius: 30px;
  transition: 1s;
  
}
.img__card:hover {
  transform: scale(1.1);
  border-radius: 50px;
}
.project__crad {
  /* display: flex;
      justify-content: space-between; */
  gap: 60px;
  /* align-items: center; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.project__c {
  /* border: 4px #219ebc solid; */
  padding: 40px;
  border-radius: 30px;
  flex-direction: column;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 30px;
   background-color: #1a1a1d;
  box-shadow: inset 0px 0px 10px 0px #a64d79;
 
  border-radius: 15px;
  
}
.about__card {
  color: #6a1e55;
  font-size: 30px;
}
.p__card {
  color: #a64d79;
  font-size: 20px;
  font-weight: 600;
}
.btn__card{
  all: unset;
  margin-top: 20px;
  border: #6a1e55 3px solid;
  border-radius: 50px;
  padding: 1rem 2.8rem;
  color: #6a1e55;
  a{
    font-size: 18px;
  }
  font-weight: 600;
  cursor: pointer;
  font-family: Impact "Times New Roman", Times, serif;
  transition: 0.2s linear;
}
.btn__card:hover {
  box-shadow: 0 0 20px 0px #6a1e55;
  background-color: #6a1e55;
  a{
    color: #1a1a1d;
  }
}


@keyframes rainbow-animation {
  to {
    background-position: 4500px;
  }
}
@media (max-width: 1000px) {
  .main__2 {
    gap: 50px;
  }
  .main__2 {
    /* padding: 0px 50px; */
    margin-left: 0px;
  }
  .about__main {
    margin-left: 10px;
  }
}
@media (max-width: 995px) {
  .main__2 {
    flex-direction: column;
    padding: 0px;
    margin-bottom: 0px;
  }

  .main__2 .about__main h3 {
    font-size: 1.5rem;
  }

  .about__main h1 {
    font-size: 2rem;
    /* margin-left: 10px; */
  }
  .p3 {
    font-size: 14px;
  }
  .img__card{
    height: 50%;
  }
  .header {
    display: flex;
    flex-direction: column;
  }
  .nav {
    margin-top: 10px;
  }
  
  .nav__list {
    margin-left: 10px;
    font-size: 15px;
  }
  .project__crad{
    display: flex;
    flex-direction: column;
  }
.about__card {
  
  font-size: 20px;
}
.p__card{
  font-size: 15px;
}
.btn__card{
font-size: 1px;
border: 2.5px solid #6a1e55;
padding: 12px 30px;
}
a{
  font-size: 15px;
}

}
@media (max-width: 375px) {
  .nav {
    font-size: 10px;
    margin-top: 10px;
  }
}
@media (max-width: 344px) {
  .nav {
    font-size: 13px;
    margin-top: 10px;
  }
}
@media (max-width: 500px) {
  .nav {
    margin-top: 10px;
    font-size: 10px;
  }
  .img {
    margin-bottom: 20px;
  }
}
